
.modify:hover{
    background-color: #ffffff;
}

.delete:hover{
    background-color: #ffffff;
}


.date-icon, .new-icon{
    border-radius:50%;
    transition: all .3s ease-in;
}

.date-icon:hover, .new-icon:hover{
    background-color: #e8581c;
}


.login, .logout{
    border-radius: 5px;
}

.login:hover, .logout:hover{
    background-color: rgba(150, 150, 150, 1);
}

.login:hover i, .logout:hover i{
    color: #ffffff;
}

.sortbydate, .sortbyPrice{
    border-radius: 5px;
}

