/* reset */
a{
    text-decoration: none;
}

/* navbar */
.navbar{
    background: #faf5f3;
}

/* list */
.list-group-item{
    border: none;
    border-bottom: 1px solid rgba(#222222, .85);
    background-color: #faf5f3;
}

.category-icon{
    width: 30px;
}

.modify:hover{
    background-color: #ebebf0;
}

.delete:hover{
    background-color: #ebebf0;
}


.date-icon, .new-icon{
    border-radius:50%;
    transition: all .3s ease-in;
}

.date-icon:hover, .new-icon:hover{
    background-color: #e8581c;
}


.login, .logout{
    border-radius: 5px;
} 

.login:hover, .logout:hover{
    background-color: #ebebf0;
}

/* sort button */
.sortbydate, .sortbyPrice{
    border-radius: 5px;
}

.sort-btn-wrapper{
    position: absolute;
    left: 80%;
    top: 17%;
    display: flex;
}

.fa-arrow-up, .fa-arrow-down{
    cursor: pointer;
}

/* add-new-list-container */
.add-new-list-container{
    background-image: url(../img/account.jpg);
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 76px);
}

.add-new-list-form{
    padding: 50px 70px;
    border-radius: 8px;
    background-color: rgba(235, 235, 240, 0.8);
}

.category-label{
    color: rgba(#222222, .85);
}

.category-icon-small{
    margin-right: 8px;
    width: 16px;
}

